.advantages {
  padding-bottom: 30px;
  background-color: $bg-color-second;

  @include onDesktop {
    margin: 0 120px;
    padding-bottom: 50px;
    border-radius: 29px;
  }

  &__container {
    padding-inline: 23px;
    
    @include onDesktop {
      padding-inline: 0px;
    }
  }
  
  &__header {
    margin: 60px 0 40px 0;
    text-align: center;
    font-size: 17px;

    @include onDesktop {
      margin-top: 80px;
      text-align: left;
      font-size: 30px;
      line-height: 25px;
    }
  }

  &__grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Rubik', sans-serif;

    @include onDesktop {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      gap: 30px;
    }
  }

  &__grid-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px; 
  }

  &__title {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;

    @include onDesktop {
      text-align: left;
      font-size: 18px;
    }
  }
  
  &__sub-title {
    font-size: 14px;
    font-weight: Regular;
    margin-bottom: 10px;
    color: $small-text;

    @include onDesktop {
      font-size: 16px;
    }
  }
}