.faq {
  &__header {
    margin-bottom: 40px;
    text-align: center;
    font-size: 17px;

    @include onDesktop {
      text-align: left;
      font-size: 30px;
      line-height: 25px;
    }
  }

  &__grid-container {
    display: flex;
    flex-direction: column;
  }

  &__button {
    display: flex;
    flex-direction: column;
    text-align: left;
    background: transparent;
    border: none;
    border-top: 1px solid $white-gray-color;
    padding: 10px 0;
    color: $white-gray-color;
    transition: background 0.3s, color 0.3s;
    cursor: pointer;
  }

  &__title-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;

    @include onDesktop {
      font-size: 24px;
      line-height: 20px;
    }
  }

  &__icon {
    transform: scale(0.5);
    margin-right: 15px;

    .icon-image[src*="minus.svg"] {
      margin-top: 14px;
    }

    @include onDesktop {
      transform: scale(1);
      margin-top: 15px;
    }
  }

  &__sub-title {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    margin-top: 10px;
    color: $grey-color;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s, max-height 0.3s;

    @include onDesktop {
      margin-top: 20px;
      font-size: 16px;
    }
  }

  &__sub-title.visible {
    opacity: 1;
    max-height: 200px;
  }

  &__border {
    border-bottom: 1px solid $white-gray-color;
  }
}

.hidden {
  display: none;
}
