.top-bar {
  padding-block: 30px ;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    text-align: center;
    margin: 0 50px;
  }

  &__lang {
    display: none;
  }

  @include onDesktop {
    margin-bottom: 50px;

    &__logo {
      float: left;
      margin: 0;
    }

    &__lang {
      display: block;
    }
  
    &__language {
      display: none;
    }
  
    &__menu {
      display: none;
    }
  }
}