$tablet-min-width: 481px;
$laptop-min-width: 1000px;
$desktop-min-width: 1200px;

$main-text: 'Bicubik Regular';
$second-text: 'Rubik', sans-serif;

$bg-color-first: #292626;
$bg-color-second: #423D3D;
$second-color: #D6C21A;
$text-color: #ffffff;
$white-gray-color: #e9e9e9;
$grey-color: #d4d4d4;
// Advantages
$small-text: #d9d8d8;
// cap
$grey: #cccccc;
$darl-yellow: #a79b16;
$black-color: #000000;
// textarea
$dark-grey: #a4a3a3;