@charset "UTF-8";
.container {
  padding-inline: 23px;
}
@media (min-width: 768px) {
  .container {
    padding-inline: 73px;
  }
}
@media (min-width: 1024px) {
  .container {
    padding-inline: 100px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding-inline: 120px;
  }
}
@media (min-width: 1600px) {
  .container {
    padding-inline: 300px;
  }
}
@media (min-width: 2000px) {
  .container {
    padding-inline: 400px;
  }
}
@media (min-width: 2100px) {
  .container {
    padding-inline: 500px;
  }
}
@media (min-width: 2400px) {
  .container {
    padding-inline: 500px;
  }
}
@media (min-width: 2560px) {
  .container {
    padding-inline: 500px;
  }
}

.page {
  font-family: "Bicubik Regular";
  font-size: 12px;
  color: #ffffff;
  scroll-behavior: smooth;
  background-color: #292626;
}
.page :has(.page__menu:target) {
  overflow: hidden;
}
.page__body {
  margin: 0;
  min-width: 320px;
}
.page__menu {
  position: fixed;
  top: 0; /* Меняем top на 0, чтобы меню появлялось сверху */
  right: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s;
  transform: translateY(-100%); /* Меняем translateX на translateY, чтобы меню появлялось сверху вниз */
  pointer-events: none;
}
.page__menu:target {
  opacity: 1;
  transform: translateY(0); /* Меняем translateX на translateY, чтобы меню появлялось сверху вниз */
  pointer-events: all;
}

header {
  margin: 0;
}

#progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #D6C21A;
  z-index: 9999;
  transition: width 0.3s;
}

.advert__title {
  text-align: center;
  justify-content: center;
  color: #cccccc;
  font-family: "Rubik", sans-serif;
  font-size: 9px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .advert__title {
    font-size: 12px;
  }
}
@media (min-width: 1200px) {
  .advert__title {
    font-size: 12px;
  }
}
@media (min-width: 2000px) {
  .advert__title {
    font-size: 18px;
  }
}
@media (min-width: 2560px) {
  .advert__title {
    font-size: 25px;
  }
}
.advert__span {
  color: #a79b16;
  font-family: "Bicubik Regular";
}

.cap-bar {
  position: relative;
  background-color: #000000;
  width: 100%;
  height: 30px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .cap-bar {
    height: 36px;
  }
}
@media (min-width: 2000px) {
  .cap-bar {
    height: 50px;
  }
}
@media (min-width: 2560px) {
  .cap-bar {
    height: 63px;
  }
}

#snow-container {
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 100%;
}

.snowflake {
  position: absolute;
  background: #ffffff;
  border-radius: 50%;
  pointer-events: none;
  width: 2px;
  height: 2px;
  animation: snowfall linear infinite;
}

@keyframes snowfall {
  0% {
    transform: translateY(-5px) translateX(0) rotate(-45deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) translateX(10px) rotate(-45deg);
    opacity: 0;
  }
}
.menu {
  text-align: center;
  height: 90vh;
  box-sizing: border-box;
  text-transform: uppercase;
  overflow: auto;
  background-color: #423D3D;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 20px;
}
.menu__nav {
  margin-top: 30px;
  margin-left: 30px;
}
.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  position: relative;
  scroll-behavior: smooth;
}
.menu__link::after {
  content: " ";
  position: absolute;
  bottom: -8px;
  height: 1px;
  display: block;
  width: 100%;
  transition: transform 0.3s;
  transform: scale(0);
  transform-origin: left;
}
.menu__link:hover::after {
  transform: scale(1);
}
.menu__bar {
  display: flex;
  justify-content: space-between;
  float: right;
  width: 17px;
  height: 17px;
  margin: 5px 0 0 15px;
}
.menu__icons {
  text-decoration: none;
  margin: 70px 5px 20px 0;
}
.menu__icon {
  text-decoration: none;
}
.menu__lan {
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  position: relative;
  scroll-behavior: smooth;
}

.header {
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.header__content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.header__nav {
  display: none;
}
@media (min-width: 1024px) {
  .header__nav {
    display: block;
    margin-left: auto;
    padding-right: 20px;
  }
}
@media (min-width: 1200px) {
  .header__nav {
    display: block;
    margin-left: auto;
    padding-right: 20px;
  }
}
.header__list {
  display: flex;
  padding: 0;
  list-style: none;
  gap: 20px;
}
@media (min-width: 1024px) {
  .header__list {
    gap: 15px;
  }
}
.header__link {
  text-decoration: none;
  color: #d4d4d4;
  border-bottom: 2px solid rgba(209, 194, 27, 0);
  transition: border-bottom 0.3s ease;
  font-family: "Rubik", sans-serif;
}
.header__link:hover {
  border-bottom: 2px solid rgb(209, 194, 27);
}
@media (min-width: 2560px) {
  .header__link {
    font-size: 15px;
  }
}
@media (min-width: 1024px) {
  .header__main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .header__main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header__image img {
  width: 100%;
  padding-bottom: 15px;
}
@media (min-width: 1024px) {
  .header .header__image {
    display: none;
  }
}
@media (min-width: 1200px) {
  .header .header__image {
    display: none;
  }
}
.header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1200px) {
  .header__bottom {
    width: 589px;
  }
}
.header__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 23px;
}
@media (min-width: 768px) {
  .header__title {
    font-size: 30px;
  }
}
@media (min-width: 1024px) {
  .header__title {
    font-size: 40px;
    margin-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  .header__title {
    font-size: 56px;
  }
}
.header__turnkey {
  font-size: 11.59px;
  align-items: right;
  text-align: right;
  font-family: "Rubik", sans-serif;
  color: #d4d4d4;
}
@media (min-width: 768px) {
  .header__turnkey {
    font-size: 15px;
  }
}
@media (min-width: 1024px) {
  .header__turnkey {
    display: none;
  }
}
@media (min-width: 1200px) {
  .header__turnkey {
    display: none;
  }
}
.header__title-sequel {
  font-size: 23px;
  margin-bottom: 26px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .header__title-sequel {
    font-size: 30px;
    line-height: 30px;
  }
}
@media (min-width: 1024px) {
  .header__title-sequel {
    font-size: 40px;
    line-height: 35px;
    margin-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  .header__title-sequel {
    font-size: 56px;
    width: 589px;
  }
}
.header__contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1024px) {
  .header__contents {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .header__contents {
    flex-direction: row;
  }
}
.header__calculate {
  flex: 1;
  font-family: "Rubik", sans-serif;
  font-size: 11px;
  color: #d4d4d4;
}
@media (min-width: 768px) {
  .header__calculate {
    font-size: 15px;
  }
}
@media (min-width: 1024px) {
  .header__calculate {
    order: 1;
    flex: none;
    width: 100%;
    margin-top: 5px;
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .header__calculate {
    order: 1;
    flex: none;
    width: 100%;
    margin-top: 5px;
    font-size: 16px;
  }
}
.header__sub-title {
  flex: 1;
  font-size: 12px;
  text-align: right;
  margin-bottom: 5px;
  color: #e9e9e9;
}
@media (min-width: 768px) {
  .header__sub-title {
    font-size: 25px;
  }
}
@media (min-width: 1024px) {
  .header__sub-title {
    order: 3;
    flex: none;
    text-align: right;
    font-size: 20px;
    line-height: 30px;
    margin-top: 17px;
  }
}
@media (min-width: 1200px) {
  .header__sub-title {
    order: 3;
    flex: none;
    text-align: right;
    font-size: 25px;
    line-height: 30px;
    margin-top: 17px;
  }
}
.header__button {
  flex: 100%;
  margin-top: 17px;
  width: 100%;
  height: 60px;
  border: 1px solid #292626;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #292626;
  background-color: #D6C21A;
}
.header__button:hover {
  transition: 0.2s;
  border: 1px solid #D6C21A;
  color: #D6C21A;
  background-color: #292626;
}
@media (min-width: 768px) {
  .header__button {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  .header__button {
    font-size: 17px;
  }
}
@media (min-width: 1024px) {
  .header__button {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .header__button {
    border-radius: 29px;
  }
}
@media (min-width: 1024px) {
  .header__button {
    order: 2;
    flex: none;
    width: 40%;
  }
}
@media (min-width: 1200px) {
  .header__button {
    order: 2;
    flex: none;
    width: 40%;
  }
}
.header__img {
  display: none;
}
@media (min-width: 1024px) {
  .header__img {
    display: block;
    max-width: 100%;
    margin-left: 43px;
  }
}
@media (min-width: 1200px) {
  .header__img {
    display: block;
    max-width: 100%;
    margin-left: 73px;
  }
}
.header__icon {
  display: none;
}
@media (min-width: 1024px) {
  .header__icon {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .header__icon {
    display: flex;
  }
}

.top-bar {
  padding-block: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-bar__logo {
  text-align: center;
  margin: 0 50px;
}
@media (min-width: 768px) {
  .top-bar__logo {
    font-size: 15px;
  }
}
@media (min-width: 1024px) {
  .top-bar__logo {
    margin: 0px;
    font-size: 11px;
  }
}
@media (min-width: 2560px) {
  .top-bar__logo {
    font-size: 20px;
  }
}
.top-bar__lang {
  display: none;
}
@media (min-width: 1024px) {
  .top-bar {
    margin-bottom: 20px;
  }
  .top-bar__logo {
    float: left;
    margin: 0;
  }
  .top-bar__lang {
    display: block;
  }
  .top-bar__language {
    display: none;
  }
  .top-bar__menu {
    display: none;
  }
}
@media (min-width: 1200px) {
  .top-bar {
    margin-bottom: 50px;
  }
  .top-bar__logo {
    float: left;
    margin: 0;
  }
  .top-bar__lang {
    display: block;
  }
  .top-bar__language {
    display: none;
  }
  .top-bar__menu {
    display: none;
  }
}

.main__content {
  display: grid;
  row-gap: 80px;
  padding-block: 80px;
}

.about-us__head-title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 17px;
}
@media (min-width: 768px) {
  .about-us__head-title {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .about-us__head-title {
    font-size: 25px;
  }
}
@media (min-width: 1200px) {
  .about-us__head-title {
    font-size: 30px;
    line-height: 25px;
  }
}
@media (min-width: 1200px) {
  .about-us__head-title {
    display: none;
  }
}
.about-us__image img {
  width: 100%;
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .about-us__image img {
    display: none;
  }
}
.about-us__image-pc img {
  display: none;
}
@media (min-width: 1200px) {
  .about-us__image-pc img {
    display: flex;
    width: 100%;
    margin-bottom: 40px;
  }
}
.about-us__text-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 1200px) {
  .about-us__text-container {
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 67px;
  }
}
.about-us__text-item {
  font-family: "Rubik", sans-serif;
  font-size: 13px;
  color: #d4d4d4;
}
@media (min-width: 768px) {
  .about-us__text-item {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .about-us__text-item {
    display: flex;
  }
}
.about-us__text-item:nth-child(2) {
  margin-bottom: 20px;
}
.about-us__text-item:nth-child(3) {
  margin-bottom: 40px;
}
.about-us__grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  gap: 20px;
}
@media (min-width: 1200px) {
  .about-us__grid-container {
    flex-wrap: nowrap;
    gap: 150px;
  }
}
.about-us__grid-item {
  flex-basis: calc(50% - 10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media (min-width: 1200px) {
  .about-us__grid-item {
    text-align: left;
  }
}
.about-us__icon {
  margin-bottom: 10px;
  height: 40px;
}
@media (min-width: 1200px) {
  .about-us__icon {
    display: none;
  }
}
.about-us__icon-pc {
  display: none;
}
@media (min-width: 1200px) {
  .about-us__icon-pc {
    display: flex;
    margin-bottom: 25px;
  }
}
.about-us__text {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #e9e9e9;
}
@media (min-width: 1200px) {
  .about-us__text {
    font-size: 16px;
  }
}
.about-us__text-one {
  margin: -15px;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #e9e9e9;
}
@media (min-width: 1200px) {
  .about-us__text-one {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: -20px;
  }
}
.about-us__text-two {
  margin: -15px;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #e9e9e9;
}
@media (min-width: 1200px) {
  .about-us__text-two {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: -20px;
  }
}

.title {
  display: none;
  color: white;
}
@media (min-width: 1200px) {
  .title {
    display: flex;
    font-size: 30px;
    line-height: 35px;
  }
}

.advantages {
  padding-bottom: 30px;
  background-color: #423D3D;
}
@media (min-width: 1200px) {
  .advantages {
    margin: 0 120px;
    padding-bottom: 50px;
    border-radius: 29px;
  }
}
@media (min-width: 1600px) {
  .advantages {
    margin: 0 300px;
  }
}
@media (min-width: 2000px) {
  .advantages {
    margin: 0 400px;
  }
}
@media (min-width: 2100px) {
  .advantages {
    margin: 0 500px;
  }
}
.advantages__container {
  padding-inline: 23px;
}
@media (min-width: 768px) {
  .advantages__container {
    padding-inline: 73px;
  }
}
@media (min-width: 1200px) {
  .advantages__container {
    padding-inline: 0px;
  }
}
.advantages__header {
  margin: 60px 0 40px 0;
  text-align: center;
  font-size: 17px;
}
@media (min-width: 768px) {
  .advantages__header {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .advantages__header {
    font-size: 25px;
  }
}
@media (min-width: 1200px) {
  .advantages__header {
    font-size: 30px;
    line-height: 25px;
  }
}
@media (min-width: 1200px) {
  .advantages__header {
    margin-top: 80px;
    text-align: left;
  }
}
.advantages__grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;
}
@media (min-width: 1200px) {
  .advantages__grid-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 30px;
  }
}
.advantages__grid-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.advantages__title {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .advantages__title {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .advantages__title {
    text-align: left;
    font-size: 18px;
  }
}
.advantages__sub-title {
  font-size: 14px;
  font-weight: Regular;
  margin-bottom: 10px;
  color: #d9d8d8;
}
@media (min-width: 768px) {
  .advantages__sub-title {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  .advantages__sub-title {
    font-size: 16px;
  }
}

.projectes__title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 17px;
}
@media (min-width: 768px) {
  .projectes__title {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .projectes__title {
    font-size: 25px;
  }
}
@media (min-width: 1200px) {
  .projectes__title {
    font-size: 30px;
    line-height: 25px;
  }
}
@media (min-width: 1200px) {
  .projectes__title {
    margin-top: 60px;
    text-align: left;
    font-size: 30px;
    line-height: 25px;
  }
}
.projectes__slider-wrapper {
  overflow: hidden;
}
@media (min-width: 1200px) {
  .projectes__slider-wrapper {
    border-radius: 29px;
  }
}
.projectes__slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  white-space: nowrap;
}
.projectes__image {
  flex: 0 0 100%;
}
.projectes__image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}
@media (min-width: 768px) {
  .projectes__image img {
    height: 300px;
  }
}
@media (min-width: 1024px) {
  .projectes__image img {
    height: 350px;
  }
}
@media (min-width: 1200px) {
  .projectes__image img {
    height: 350px;
  }
}
@media (min-width: 1600px) {
  .projectes__image img {
    height: 360px;
  }
}
@media (min-width: 2000px) {
  .projectes__image img {
    height: 400px;
  }
}
@media (min-width: 2100px) {
  .projectes__image img {
    height: 400px;
  }
}
@media (min-width: 2400px) {
  .projectes__image img {
    height: 510px;
  }
}
@media (min-width: 2560px) {
  .projectes__image img {
    height: 600px;
  }
}
.projectes__dots {
  text-align: center;
  margin-top: 10px;
}
.projectes__dots .projectes__dot {
  width: 10px;
  height: 10px;
  background-color: #a4a3a3;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.stages__header {
  margin-bottom: 40px;
  text-align: center;
  font-size: 17px;
}
@media (min-width: 768px) {
  .stages__header {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .stages__header {
    font-size: 25px;
  }
}
@media (min-width: 1200px) {
  .stages__header {
    font-size: 30px;
    line-height: 25px;
  }
}
@media (min-width: 1200px) {
  .stages__header {
    margin-top: 60px;
    text-align: left;
    font-size: 30px;
    line-height: 25px;
  }
}
.stages__grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;
}
@media (min-width: 1200px) {
  .stages__grid-container {
    grid-template-columns: repeat(3, 2fr);
    gap: 30px;
  }
}
.stages__grid-item {
  padding: 20px;
  background-color: #423D3D;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .stages__grid-item {
    padding: 25px;
  }
}
@media (min-width: 1200px) {
  .stages__grid-item {
    padding: 30px;
    border-radius: 29px;
  }
}
.stages__text {
  margin-bottom: 25px;
  color: #e9e9e9;
  line-height: 10px;
  font-family: "Rubik", sans-serif;
  font-size: 10px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .stages__text {
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  .stages__text {
    font-size: 16px;
  }
}
.stages__icons {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .stages__icons {
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  .stages__image {
    display: none;
  }
}
.stages__image-pc {
  display: none;
}
@media (min-width: 1200px) {
  .stages__image-pc {
    display: flex;
    margin-top: 87px;
  }
}
.stages__number {
  align-self: flex-end;
}
@media (min-width: 768px) {
  .stages__number {
    transform: scale(1.5);
    margin-right: 5px;
  }
}
@media (min-width: 1200px) {
  .stages__number {
    transform: scale(2);
    margin-right: 15px;
  }
}

.services {
  margin-top: 40px;
}
.services__header {
  margin-bottom: 40px;
  text-align: center;
  font-size: 17px;
}
@media (min-width: 768px) {
  .services__header {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .services__header {
    font-size: 25px;
  }
}
@media (min-width: 1200px) {
  .services__header {
    font-size: 30px;
    line-height: 25px;
  }
}
@media (min-width: 1200px) {
  .services__header {
    display: flex;
    line-height: 35px;
  }
}
.services__image img {
  width: 100%;
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .services__image img {
    display: none;
  }
}
.services__image-pc img {
  display: none;
}
@media (min-width: 1200px) {
  .services__image-pc img {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
  }
}
.services__grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 9px;
}
@media (min-width: 768px) {
  .services__grid-container {
    margin-top: 10px;
    grid-template-columns: 3fr 1fr;
    font-size: 12px;
  }
}
@media (min-width: 1024px) {
  .services__grid-container {
    grid-template-columns: 4fr 1fr;
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .services__grid-container {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: -120px;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
    font-size: 18px;
  }
}
.services__grid-item {
  display: flex;
  text-align: center;
  gap: 7px;
}
@media (min-width: 768px) {
  .services__grid-item {
    gap: 18px;
    margin-left: 5px;
  }
}
@media (min-width: 1200px) {
  .services__grid-item {
    gap: 18px;
    margin-left: 5px;
  }
}
.services__icon {
  width: 20px;
  display: flex;
  text-align: center;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .services__icon {
    transform: scale(1.5);
    margin-bottom: 25px;
  }
}
@media (min-width: 1200px) {
  .services__icon {
    transform: scale(1.5);
    margin-bottom: 25px;
  }
}

.repair {
  background-color: #423D3D;
}
@media (min-width: 1200px) {
  .repair {
    margin: 0 120px;
    border-radius: 29px;
  }
}
@media (min-width: 1600px) {
  .repair {
    margin: 0 300px;
  }
}
@media (min-width: 2000px) {
  .repair {
    margin: 0 400px;
  }
}
@media (min-width: 2100px) {
  .repair {
    margin: 0 500px;
  }
}
.repair__container {
  padding-inline: 23px;
}
@media (min-width: 768px) {
  .repair__container {
    padding-inline: 73px;
  }
}
@media (min-width: 1024px) {
  .repair__container {
    padding-inline: 100px;
  }
}
.repair__text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 60px;
}
@media (min-width: 1200px) {
  .repair__text {
    justify-content: center;
    flex-direction: row;
  }
}
.repair__title {
  text-align: center;
  font-size: 17px;
}
@media (min-width: 768px) {
  .repair__title {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .repair__title {
    font-size: 25px;
  }
}
@media (min-width: 1200px) {
  .repair__title {
    font-size: 30px;
    line-height: 25px;
  }
}
.repair__title-sequel {
  margin-bottom: 20px;
  text-align: center;
  font-size: 17px;
}
@media (min-width: 768px) {
  .repair__title-sequel {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .repair__title-sequel {
    font-size: 25px;
  }
}
@media (min-width: 1200px) {
  .repair__title-sequel {
    font-size: 30px;
    line-height: 25px;
  }
}
.repair__sub-title {
  margin-bottom: 32px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #d9d8d8;
}
@media (min-width: 768px) {
  .repair__sub-title {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .repair__sub-title {
    font-size: 18px;
  }
}
.repair__button {
  margin-bottom: 60px;
  width: 100%;
  height: 60px;
  border: 1px solid #292626;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #292626;
  background-color: #D6C21A;
}
.repair__button:hover {
  transition: 0.2s;
  border: 1px solid #D6C21A;
  color: #D6C21A;
  background-color: #292626;
}
@media (min-width: 768px) {
  .repair__button {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  .repair__button {
    font-size: 17px;
  }
}
@media (min-width: 1024px) {
  .repair__button {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .repair__button {
    border-radius: 29px;
  }
}
@media (min-width: 1200px) {
  .repair__button {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.faq__header {
  margin-bottom: 40px;
  text-align: center;
  font-size: 17px;
}
@media (min-width: 768px) {
  .faq__header {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .faq__header {
    font-size: 25px;
  }
}
@media (min-width: 1200px) {
  .faq__header {
    font-size: 30px;
    line-height: 25px;
  }
}
@media (min-width: 1200px) {
  .faq__header {
    text-align: left;
  }
}
.faq__grid-container {
  display: flex;
  flex-direction: column;
}
.faq__button {
  display: flex;
  flex-direction: column;
  text-align: left;
  background: transparent;
  border: none;
  border-top: 1px solid #e9e9e9;
  padding: 10px 0;
  color: #e9e9e9;
  transition: background 0.3s, color 0.3s;
  cursor: pointer;
}
.faq__title-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq__title {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}
@media (min-width: 768px) {
  .faq__title {
    font-size: 15px;
  }
}
@media (min-width: 1024px) {
  .faq__title {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .faq__title {
    font-size: 24px;
    line-height: 20px;
  }
}
.faq__icon {
  transform: scale(0.5);
  margin-right: 15px;
}
.faq__icon .icon-image[src*="minus.svg"] {
  margin-top: 14px;
}
@media (min-width: 1200px) {
  .faq__icon {
    transform: scale(1);
    margin-top: 15px;
  }
}
.faq__sub-title {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  margin-top: 10px;
  color: #d4d4d4;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s, max-height 0.3s;
}
@media (min-width: 768px) {
  .faq__sub-title {
    font-size: 14px;
  }
}
@media (min-width: 1024px) {
  .faq__sub-title {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  .faq__sub-title {
    margin-top: 20px;
    font-size: 16px;
  }
}
.faq__sub-title.visible {
  opacity: 1;
  max-height: 200px;
}
.faq__border {
  border-bottom: 1px solid #e9e9e9;
}

.hidden {
  display: none;
}

.contact__title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 17px;
}
@media (min-width: 768px) {
  .contact__title {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .contact__title {
    font-size: 25px;
  }
}
@media (min-width: 1200px) {
  .contact__title {
    font-size: 30px;
    line-height: 25px;
  }
}
@media (min-width: 1200px) {
  .contact__title {
    margin-top: 60px;
    text-align: left;
  }
}
.contact__sub-title {
  margin: 0 20px 20px 20px;
  text-align: center;
  color: #e9e9e9;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 300;
}
@media (min-width: 768px) {
  .contact__sub-title {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .contact__sub-title {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .contact__sub-title {
    display: none;
  }
}
@media (min-width: 1024px) {
  .contact__group {
    --columns: 2;
    display: grid;
    column-gap: 50px;
    grid-template-columns: repeat(var(--columns), 1fr);
  }
}
@media (min-width: 1200px) {
  .contact__group {
    column-gap: 200px;
    margin-bottom: 120px;
  }
}
.contact__sub-title-second {
  display: none;
}
@media (min-width: 1200px) {
  .contact__sub-title-second {
    display: block;
    margin: 0;
    margin-bottom: 43px;
    text-align: left;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    color: #e9e9e9;
  }
}
.contact__form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .contact__form {
    margin-top: 80px;
  }
}
@media (min-width: 1200px) {
  .contact__form {
    margin: 0;
  }
}
.contact__input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .contact__input {
    margin-bottom: 44px;
  }
}
.contact__input label {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  color: #e9e9e9;
  font-size: 11px;
  margin-bottom: 5px;
}
.contact__input input,
.contact__input textarea {
  border: none;
  border-bottom: 1px solid #a4a3a3;
  padding: 0 0 14px 17px;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 11px;
  color: #e9e9e9;
  background-color: transparent;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  resize: none;
}
@media (min-width: 768px) {
  .contact__input input,
  .contact__input textarea {
    padding: 0 0 15px 19px;
    font-size: 14px;
  }
}
@media (min-width: 1024px) {
  .contact__input input,
  .contact__input textarea {
    padding: 0 0 17px 21px;
    font-size: 16px;
  }
}
.contact__input textarea {
  height: 30px;
  overflow: hidden;
}
.contact__button {
  margin-bottom: 60px;
  width: 100%;
  height: 60px;
  border: 1px solid #292626;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #292626;
  background-color: #D6C21A;
}
.contact__button:hover {
  transition: 0.2s;
  border: 1px solid #D6C21A;
  color: #D6C21A;
  background-color: #292626;
}
@media (min-width: 768px) {
  .contact__button {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  .contact__button {
    font-size: 17px;
  }
}
@media (min-width: 1024px) {
  .contact__button {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .contact__button {
    border-radius: 29px;
  }
}
@media (min-width: 1200px) {
  .contact__button {
    margin-bottom: 0px;
  }
}
.contact__maps img {
  width: 100%;
}
@media (min-width: 1024px) {
  .contact__maps img {
    display: none;
  }
}
@media (min-width: 1200px) {
  .contact__maps img {
    display: none;
  }
}
.contact__maps-pc img {
  display: none;
}
@media (min-width: 1024px) {
  .contact__maps-pc img {
    display: flex;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .contact__maps-pc img {
    display: flex;
    width: 100%;
  }
}
.contact__map-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
@media (min-width: 1200px) {
  .contact__map-container {
    margin-bottom: 0px;
  }
}
.contact__map-item {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.contact__map-icon {
  transform: scale(0.7);
  margin-right: 5px;
}
.contact__map-title {
  margin-top: 7px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
.contact__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact__logo {
  color: #e9e9e9;
  font-size: 11px;
}
@media (min-width: 768px) {
  .contact__logo {
    font-size: 12px;
  }
}
.contact__nav {
  display: none;
}
@media (min-width: 1200px) {
  .contact__nav {
    display: flex;
  }
}
.contact__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 15px;
}
.contact__link {
  position: relative;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 2px;
  scroll-behavior: smooth;
  color: #d4d4d4;
}
.contact__link::after {
  content: " ";
  position: absolute;
  bottom: -8px;
  height: 1px;
  display: block;
  width: 100%;
  transition: transform 0.3s;
  transform: scale(0);
  transform-origin: left;
}
.contact__link:hover::after {
  transform: scale(1);
}
.contact__tel, .contact__mail {
  text-align: right;
  font-family: "Rubik", sans-serif;
  font-size: 9px;
  color: #d9d8d8;
}
@media (min-width: 768px) {
  .contact__tel, .contact__mail {
    font-family: 300;
    font-size: 12px;
  }
}
@media (min-width: 1200px) {
  .contact__tel, .contact__mail {
    display: none;
  }
}
@media (min-width: 1200px) {
  .contact__bottom-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 47px;
  }
}
.contact__tel-second {
  display: none;
}
@media (min-width: 1200px) {
  .contact__tel-second {
    display: block;
    text-align: right;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    color: #d9d8d8;
  }
}
.contact__mail-second {
  display: none;
}
@media (min-width: 1200px) {
  .contact__mail-second {
    display: block;
    text-align: right;
    font-family: "Rubik", sans-serif;
    font-family: 300;
    font-size: 12px;
    color: #d9d8d8;
  }
}
.contact__icons {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
@media (min-width: 1200px) {
  .contact__icons {
    margin-top: 0px;
  }
}
.contact__icon {
  margin-right: 5px;
  text-decoration: none;
  transform: scale(0.7);
}
@media (min-width: 1200px) {
  .contact__icon {
    margin-right: 30px;
    transform: scale(1);
  }
}

#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-in-out;
}

.popup-header {
  display: flex;
  justify-content: flex-end;
}

.popup-close {
  cursor: pointer;
}

.popup-content {
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.popup-show {
  opacity: 1;
}

.popup-text {
  font-size: 18px;
  margin-bottom: 20px;
}

.popup-form {
  display: grid;
  gap: 20px;
}

.form-group {
  position: relative;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
}

.popup-button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

/* Add media queries for responsiveness within your existing .container */

/*# sourceMappingURL=style.css.map */
